 *{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: #011F3F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  margin:10% 5% 10% 5%;
  line-height: 1.4;
  color: #FEF2BF;
  text-align: center;
}

.container {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:70%;
  margin:0 auto;
  /* background-color: #FEF2BF; */
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  background-color: rgb(18, 87, 114);
  color:#FEF2BF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  width:100%;
  position: relative;
  bottom: 0;
  left:0;
  padding: 1rem;
  text-align: center;
}
footer h2{
  font-size: 15px;
}
footer a{
  text-decoration: none;
  color:#ccc;
}
/* For larger screens eg laptop & Tablets*/
@media screen and (min-width:550px){
  body{
    height: 100vh;
  }
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  5%;
    color: #FEF2BF;
  }
  .btn {
    margin: 20px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
  }
  footer{
    position: relative;
    bottom: 0;
    padding: 1rem;
  }
}
